<body>
    <h2>Login Form</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-control">
            <label for="email">Email:</label>
            <input id="email" formControlName="email" type="email" />
            <div class="errorhandling" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
              <small *ngIf="loginForm.get('email')?.hasError('required')">Email is required.</small>
              <small *ngIf="loginForm.get('email')?.hasError('email')">Please enter a valid email address.</small>
            </div>
          </div>
        
          <div class="form-control">
            <label for="password">Password:</label>
            <input id="password" formControlName="password" type="password" />
            <div class="errorhandling" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
              <small *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</small>
              <small *ngIf="loginForm.get('password')?.hasError('minlength')">
                Password must be at least 6 characters long.
              </small>
            </div>
          </div>
        
          <button type="submit" [disabled]="loginForm.invalid">Register</button>
        </form>
</body>

